In [ ]:
# coleções servem para quando queremos trabalhar com diversos valores do mesmo tipo

In [ ]:
idades = [39, 30, 27, 18] #sequencia de acesso aleatório por posição
type(idades)

list

In [ ]:
len(idades)

4

In [ ]:
idades[0]

39

In [ ]:
idades

[39, 30, 27, 18]

In [ ]:
print(idades[1])

30

In [ ]:
idades.append(15) #adiciona no final da lista

In [ ]:
idades

[39, 30, 27, 18, 15]

In [ ]:
idades[4]

15

In [ ]:
for idade in idades:
  print(idade)

39
30
27
18
15

In [ ]:
idades.remove(30) #remove elemento da lista

In [ ]:
idades

[39, 27, 18, 15]

In [ ]:
idades.pop(1) #remove o elemento da lista de acordo com a posição desejada

27

In [ ]:
idades

[39, 18, 15]

In [ ]:
idades.append(15)

In [ ]:
idades

[39, 18, 15, 15]

In [ ]:
idades.remove(15) #remove a 1ª aparição do elemento na lista

In [ ]:
idades

[39, 18, 15]

In [ ]:
if 15 in idades:
  idades.remove(15) #remove a primeira aparicao do elemento na lista - usar para duplicidade
  print(idades)

[39, 30, 27, 18]

In [ ]:
idades.insert(0, 20) #add element in a especific index
print(idades)

[20, 39, 30, 27, 18]

In [ ]:
idades.append([21, 19])

In [ ]:
idades

[20, 39, 30, 27, 18, [21, 19]]

In [ ]:
for elemento in idades:
  print(f'recebi o elemento {elemento}')

recebi o elemento 20
recebi o elemento 39
recebi o elemento 30
recebi o elemento 27
recebi o elemento 18
recebi o elemento [21, 19]

In [ ]:
idades = [30, 27, 18]
idades.extend([10, 20]) #add as many iterables as you want on the list
print(idades)

[30, 27, 18, 10, 20]

In [ ]:
for idade in idades:
  print(idade +1)

31
28
19
11
21

In [ ]:
idades_ano_que_vem = []
for idade in idades:
  idades_ano_que_vem.append(idade+1)
idades_ano_que_vem

[31, 28, 19, 11, 21]

In [ ]:
idades_no_ano_que_vem = [(idade+1) for idade in idades] #list comprehension
print(idades_no_ano_que_vem)

[31, 28, 19, 11, 21]

In [ ]:
[(idade)for idade in idades if idade > 21]

[30, 27]

In [ ]:
def proximo_ano(idade):
  return idade+1

[proximo_ano(idade) for idade in idades if idade > 21]

[31, 28]

In [ ]:
def faz_processamento_de_visualizacao(lista):
  print(len(lista))

In [ ]:
idades = [16, 21, 29, 56, 43]
faz_processamento_de_visualizacao(idades)
idades

5

[16, 21, 29, 56, 43]

In [ ]:
def faz_processamento_de_visualizacao(lista = list()): #wrong way to add
  print(len(lista))
  print(lista)
  lista.append(13)

In [ ]:
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()

7
[13, 13, 13, 13, 13, 13, 13]
8
[13, 13, 13, 13, 13, 13, 13, 13]
9
[13, 13, 13, 13, 13, 13, 13, 13, 13]
10
[13, 13, 13, 13, 13, 13, 13, 13, 13, 13]

In [ ]:
def faz_processamento_de_visualizacao(lista = None): #right way to add an element on the list
  if lista == None:
    lista = list()
    lista.extend([1, 2, 3])
  print(f'tamanho da lista', len(lista))
  print(lista)

In [ ]:
faz_processamento_de_visualizacao()

tamanho da lista 3
[1, 2, 3]

OBJETOS PROPRIOS

In [ ]:
class ContaCorrente:

  def __init__(self, codigo):
    self.codigo = codigo
    self.saldo = 0

  def deposita(self, valor):
    self.saldo += valor

  def __str__(self):
    return "[>> codigo {}, saldo {}]".format(self.codigo, self.saldo)

In [ ]:
conta_do_gui = ContaCorrente(152)
print(conta_do_gui)

[>> codigo 152, saldo 0]

In [ ]:
conta_do_gui.deposita(100)

In [ ]:
print(conta_do_gui)

[>> codigo 152, saldo 100]

In [ ]:
conta_da_dani = ContaCorrente(321)
print(conta_da_dani)

[>> codigo 321, saldo 0]

In [ ]:
conta_da_dani.deposita(300)
print(conta_da_dani)

[>> codigo 321, saldo 300]

In [ ]:
contas = [conta_da_dani, conta_do_gui]
for conta in contas:
  print(conta)

[>> codigo 321, saldo 300]
[>> codigo 152, saldo 100]

In [ ]:
camila = 'Camila'

In [ ]:
cut = camila[:2] #cut string
print(cut)

Ca

In [ ]:
def deposita_para_todas(contas):
  for conta in contas:
    conta.deposita(100)

conta = [conta_do_gui, conta_da_dani]
deposita_para_todas(contas)
print(conta[0], conta[1])

[>> codigo 152, saldo 200] [>> codigo 321, saldo 400]

In [ ]:
conta.insert(0,76)
print(conta[0], conta[1], conta[2])

76 [>> codigo 152, saldo 200] [>> codigo 321, saldo 400]

In [ ]:
guilherme = ('Guilherme', 32, 1980)
daniela = ('Daniela', 30, 1978)

In [ ]:
usuarios = [guilherme, daniela]
usuarios

[('Guilherme', 32, 1980), ('Daniela', 30, 1978)]

In [ ]:
usuarios.append(('Camila', 26, 1996))
usuarios

[('Guilherme', 32, 1980),
 ('Daniela', 30, 1978),
 ('Camila', 26, 1996),
 ('Camila', 26, 1996)]

In [ ]:
usuarios.pop((3))

('Camila', 26, 1996)

In [ ]:
usuarios

[('Guilherme', 32, 1980), ('Daniela', 30, 1978), ('Camila', 26, 1996)]

In [ ]:
conta_do_gui = ContaCorrente(15)

In [ ]:
conta_da_dani = ContaCorrente(20)
conta_da_dani.deposita(1000)
conta_do_gui.deposita(500)

In [ ]:
contas = (conta_do_gui, conta_da_dani) #tuplas são imutaveis mas o objetos dela conseguimos alterar

In [ ]:
for conta in contas: #a tupla não vai mudar de tamanho, mas quem está dentro pode mudar as referências de dentro.
  print(conta)

[>> codigo 15, saldo 500]
[>> codigo 20, saldo 1000]

HERANÇA E POLIMORFISMO

In [ ]:
class Conta:

  def __init__(self, codigo):
    self.codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return f'>>Codigo: {self.codigo}, Saldo: {self._saldo}<<'

In [ ]:
print(Conta(88))

>>Codigo: 88, Saldo: 0<<

In [ ]:
class ContaCorrente(Conta):

  def passa_o_mes(self):
    self._saldo -= 2

class ContaPoupanca(Conta):

  def passa_o_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3

class ContaInvestimento(Conta):
  pass

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

>>Codigo: 16, Saldo: 998<<

In [ ]:
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
conta17.passa_o_mes()
print(conta17)

>>Codigo: 17, Saldo: 1007.0<<

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
contas = [conta16, conta17]

for conta in contas:
  conta.passa_o_mes() #ducktyping (ou seja, se as duas classes tem o msm tipo de função, posso chama-la apenas 1 vez) = polimorfismo
  print(conta)

>>Codigo: 16, Saldo: 998<<
>>Codigo: 17, Saldo: 1007.0<<

Array, evitaremos usar

In [ ]:
import array as arr

arr.array('d', [1, 3.5])

array('d', [1.0, 3.5])

In [ ]:
!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.6)

In [ ]:
import numpy as np #mais comum usar o numpy para soluções matematicos/ trabalho numericos (principalmente em datasciency)

numeros = np.array([1, 1.3])

In [ ]:
numeros

array([1. , 1.3])

In [ ]:
numeros +3

array([4. , 4.3])

In [ ]:
class ContaSalario:

  def __init__(self, codigo):
    self.codigo = codigo
    self.saldo = 0

  def deposita(self, valor):
    self.saldo += valor

  def __str__(self):
    return f'Codigo {self.codigo}, Saldo: {self.saldo}'

In [ ]:
conta1 = ContaSalario(15)

In [ ]:
conta2 = ContaSalario(15) #mesmo codigo porem objetos diferentes

In [ ]:
conta1 == conta2

False

In [ ]:
contas = [conta1]
conta1 in contas

True

In [ ]:
conta2 in contas

False

In [ ]:
class ContaSalario:

  def __init__(self, codigo):
    self.codigo = codigo
    self.saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    return self.codigo == outro and self.saldo == outro

  def deposita(self, valor):
    self.saldo += valor

  def __str__(self):
    return f'Codigo {self.codigo}, Saldo: {self.saldo}'

In [ ]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)
conta1 == conta2

False

In [ ]:
conta1.deposita(10)

In [ ]:
conta1 == conta2 #false pq a conta1 recebeu 10 reais

False

In [ ]:
isinstance(ContaCorrente(37), ContaCorrente)

True

In [ ]:
isinstance(ContaCorrente(37), Conta) #objeto do tipo mae ou filha sao iguais/mesmo tipo

True

In [ ]:
idades = [23, 14, 45, 76, 89, 33, 12]

In [ ]:
for i in range(len(idades)):
  print(i, idades[i])

0 23
1 14
2 45
3 76
4 89
5 33
6 12

In [ ]:
frutas = ['banana', 'uva', 'pera', 'morango','abacaxi']

In [ ]:
for i in range(len(frutas)):
  print(i, frutas[i]) #i = posicao

0 banana
1 uva
2 pera
3 morango
4 abacaxi

In [ ]:
enumerate(frutas)

In [ ]:
list(range(len(idades))) #forcei o gerador de range

[0, 1, 2, 3, 4, 5, 6]

In [ ]:
list(enumerate(idades))

[(0, 23), (1, 14), (2, 45), (3, 76), (4, 89), (5, 33), (6, 12)]

In [ ]:
for i in enumerate(idades):
  print(i)

(0, 23)
(1, 14)
(2, 45)
(3, 76)
(4, 89)
(5, 33)
(6, 12)

In [ ]:
for i in enumerate(frutas):
  print(i)

(0, 'banana')
(1, 'uva')
(2, 'pera')
(3, 'morango')
(4, 'abacaxi')

In [ ]:
for indice, frutas in enumerate(frutas): #fazendo o unpacking da tupla
    print(indice, frutas)

0 banana
1 uva
2 pera
3 morango
4 abacaxi

In [ ]:
usuarios = [('Gabriela', 26, 1996), ('Nayara', 27, 1995), ('Maria', 50, 1980)]

In [ ]:
for usuario in usuarios:
  print(usuario)

('Gabriela', 26, 1996)
('Nayara', 27, 1995)
('Maria', 50, 1980)

In [ ]:
for nome, idade, nascimento in usuarios: #unpacking
  print(nome)

Gabriela
Nayara
Maria

In [ ]:
for nome, _, _ in usuarios: #ignorando o resto dos elementos
  print(nome)

Gabriela
Nayara
Maria

In [ ]:
sorted(idades) #ordenar crescente

[12, 14, 23, 33, 45, 76, 89]

In [ ]:
12<89

True

In [ ]:
list(reversed(idades))

[12, 33, 89, 76, 45, 14, 23]

In [ ]:
sorted(idades, reverse=True) #ordenar decrescente

[89, 76, 45, 33, 23, 14, 12]

In [ ]:
sorted(idades)

[12, 14, 23, 33, 45, 76, 89]

In [ ]:
idades

[23, 14, 45, 76, 89, 33, 12]

In [ ]:
idades.sort() #ordena inplace ; na variavel
idades

[12, 14, 23, 33, 45, 76, 89]

In [ ]:
for i in enumerate(frutas):
  print(i)
sorted(frutas)

(0, 'banana')
(1, 'uva')
(2, 'pera')
(3, 'morango')
(4, 'abacaxi')

['abacaxi', 'banana', 'morango', 'pera', 'uva']

In [ ]:
from operator import attrgetter

In [ ]:
for conta in sorted(contas, key=attrgetter('_saldo')): #ordenando saldo com operator getter
  print(conta)

>>Codigo: 15, Saldo: 500<<
>>Codigo: 20, Saldo: 1000<<